name: build
on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  aws_oidc_auth:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: github-actions-${{github.run_id}}
          aws-region: us-west-2
      - name: Additional steps
        run: |
          aws sts get-caller-identity
  
  terraform_plan:
    needs: [aws_oidc_auth]
    uses: LoreCrux/personal_site/.github/workflows/terraform-plan.yml@main
    with:
      aws-region: us-west-2
    secrets:
      aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
      acm_cert_arn: ${{ secrets.ACM_CERT_ARN }}
      cloudfront_zone_id: ${{ secrets.CLOUDFRONT_ZONE_ID }}
      cloudfront_distribution: ${{ secrets.CLOUDFRONT_DISTRIBUTION }}
      ecr_repo: ${{ secrets.ECR_REPO }}
      kms_key_arn: ${{ secrets.KMS_KEY_ARN }}
      route53_zone_id: ${{ secrets.ROUTE53_ZONE_ID }}
      s3_bucket: ${{ secrets.S3_BUCKET }}      
  
  terraform_apply:
    needs: [aws_oidc_auth, terraform_plan]
    uses: LoreCrux/personal_site/.github/workflows/terraform-apply.yml@main
    with:
      aws-region: us-west-2
    secrets:
      aws-role-arn: ${{secrets.AWS_ROLE_ARN}}
      acm_cert_arn: ${{ secrets.ACM_CERT_ARN }}
      cloudfront_zone_id: ${{ secrets.CLOUDFRONT_ZONE_ID }}
      cloudfront_distribution: ${{ secrets.CLOUDFRONT_DISTRIBUTION }}
      ecr_repo: ${{ secrets.ECR_REPO }}
      kms_key_arn: ${{ secrets.KMS_KEY_ARN }}
      route53_zone_id: ${{ secrets.ROUTE53_ZONE_ID }}
      s3_bucket: ${{ secrets.S3_BUCKET }}   

  build-react:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: |
          npm ci && npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./build
          retention-days: 1

  deploy-ecr:
    needs: [build-react, aws_oidc_auth]
    uses: LoreCrux/personal_site/.github/workflows/deploy-ecr.yml@main
    with:
      aws-region: us-west-2
      repository: ${{ vars.REPOSITORY }}
    secrets:
      aws-role-arn: ${{ secrets.AWS_ROLE_ARN}}

  deploy-s3:
    needs: [build-react, aws_oidc_auth]
    uses: LoreCrux/personal_site/.github/workflows/deploy-s3.yml@main
    with:
      aws-region: us-west-2
    secrets:
      aws-role-arn: ${{ secrets.AWS_ROLE_ARN}}
      s3-bucket: ${{ secrets.S3_BUCKET }}
      cloudfront-distribution-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}