name: deploy-terraform
on: 
  pull_request:
  workflow_call:
    inputs:
      aws-region:
        type: string
        required: true
    secrets:
      aws-role-arn:
        required: true
  # workflow_dispatch:

permissions:
      id-token: write
      contents: read    

defaults:
  run:
    working-directory: ./infra/aws/      

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.aws-role-arn}}
          aws-region: ${{inputs.aws-region}}

      - name: Download Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.4

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform fmt
        id: fmt
        run: terraform fmt 

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Terraform Plan
        env:
          TF_acm_certificate_arn: ${{secrets.ACM_CERT_ARN}}
          TF_cloudfront_zone_id: ${{secrets.CLOUDFRONT_ZONE_ID}}
          TF_aws_cloudfront_distribution: ${{secrets.CLOUDFRONT_DISTRIBUTION}}
          TF_ecr_repo_name: ${{secrets.ECR_REPO}}
          TF_kms_key_arn: ${{secrets.KMS_KEY_ARN}}
          TF_route53_zone_id: ${{secrets.ROUTE53_ZONE_ID}}
          TF_s3_bucket: ${{secrets.S3_BUCKET}}
        id: plan
        run: terraform plan -out=tfplan -input=false